<!-- ejs有模板语法 -->
<template>
  <div class="<% data.lowerName %>">
    {{ msg }}
  </div>
</template>

<script>
  export default {
    name: "<% data.name%>",
    props: {},
    components: {},
    data() {
      return {
        msg: "<% data.name%>",
      };
    },
  };
</script>

<style></style>
